<a href="https://colab.research.google.com/github/HO94/fastcampus/blob/main/(Chapter_03)_04_read_excel%EA%B3%BC_to_excel%EC%9D%84_%EC%9D%B4%EC%9A%A9%ED%95%9C_%ED%85%8C%EC%9D%B4%EB%B8%94_%EB%B6%88%EB%9F%AC%EC%98%A4%EA%B8%B0_%EB%B0%8F_%EC%A0%80%EC%9E%A5%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd
os.chdir(r"C:\fastcampus\part-1.-데이터-핸들링\1. 데이터 핸들링\데이터")

#### read_excel을 사용한 데이터 불러오기 기초

In [ ]:
# 시트를 정의하지 않으면, 첫 번째 시트가 불러와짐
df = pd.read_excel("data_reading.xlsx")
df

   첫번째 시트  값없음
0  첫번째 시트  값없음

In [ ]:
df = pd.read_excel("data_reading.xlsx", sheet_name = 'target_sheet')
df.head()

       Col1      Col2      Col3      Col4      Col5
0  0.188888  0.161053  0.150413  0.824770  0.111833
1  0.827719  0.161363  0.400331  0.398196  0.770696
2  0.844660  0.100998  0.995176  0.615525  0.878389
3  0.913895  0.036169  0.237840  0.187628  0.534308
4  0.322443  0.955010  0.340765  0.649311  0.354540

#### 필요한 부분의 데이터 불러오기

![image.png](attachment:image.png)

In [ ]:
df = pd.read_excel("월별매출데이터.xlsx", sheet_name = '6월', skiprows = range(6))
df = df.iloc[:, 1:] # 첫 번째 컬럼이 불필요하므로 제거
df.head()

         일자   지점   품명  수량 주문인 ID           수령 주소 주문 상태  결제 수단
0  2018.6.1  지점1  제품C   8  C-228  서울특별시 서대문구 홍제동  주문완료  인터넷뱅킹
1  2018.6.1  지점4  제품F   8  C-243   서울특별시 송파구 마천동  주문완료  인터넷뱅킹
2  2018.6.1  지점4  제품D   3  C-191   서울특별시 노원구 월계동   배송중   신용카드
3  2018.6.1  지점2  제품D   0  C-271  서울특별시 중구 회현동3가  배송완료  휴대폰결제
4  2018.6.1  지점4  제품D   8  C-244   서울특별시 중구 서소문동  배송완료  인터넷뱅킹

#### to_excel을 사용한 데이터 저장

In [ ]:
df1 = pd.DataFrame({"A":[1,2,3,4], "B":[5,6,7,8]})
df2 = pd.DataFrame({"A":[9,10,11,12], "B":[13,14,15,16]})

In [ ]:
with pd.ExcelWriter('written_excel.xlsx') as writer:  
    df1.to_excel(writer, sheet_name='First')
    df2.to_excel(writer, sheet_name='Second')
    
###