<a href="https://colab.research.google.com/github/HO94/fastcampus/blob/main/(Chapter_03)_03_read_csv%EC%99%80_to_csv%EB%A5%BC_%EC%9D%B4%EC%9A%A9%ED%95%9C_%ED%85%8C%EC%9D%B4%EB%B8%94_%EB%B6%88%EB%9F%AC%EC%98%A4%EA%B8%B0_%EB%B0%8F_%EC%A0%80%EC%9E%A5%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd
os.chdir(r"C:\fastcampus\part-1.-데이터-핸들링\1. 데이터 핸들링\데이터")

#### csv 데이터 불러오기 기초

In [ ]:
df = pd.read_csv("data_reading.csv")
df.head()

       Col1      Col2      Col3      Col4      Col5
0  0.188888  0.161053  0.150413  0.824770  0.111833
1  0.827719  0.161363  0.400331  0.398196  0.770696
2  0.844660  0.100998  0.995176  0.615525  0.878389
3  0.913895  0.036169  0.237840  0.187628  0.534308
4  0.322443  0.955010  0.340765  0.649311  0.354540

#### tsv 데이터 불러오기

In [ ]:
df = pd.read_csv("data_reading_tap.txt", sep = "\t")
df.head()

       Col1      Col2      Col3      Col4      Col5
0  0.188888  0.161053  0.150413  0.824770  0.111833
1  0.827719  0.161363  0.400331  0.398196  0.770696
2  0.844660  0.100998  0.995176  0.615525  0.878389
3  0.913895  0.036169  0.237840  0.187628  0.534308
4  0.322443  0.955010  0.340765  0.649311  0.354540

#### 헤더가 없는 데이터 불러오기

In [ ]:
# header를 설정하지 않은 경우
df = pd.read_csv("data_reading_without_header.csv")
df.head()

   0.188888091  0.161052929  0.15041277  0.824770215  0.111832872
0     0.827719     0.161363    0.400331     0.398196     0.770696
1     0.844660     0.100998    0.995176     0.615525     0.878389
2     0.913895     0.036169    0.237840     0.187628     0.534308
3     0.322443     0.955010    0.340765     0.649311     0.354540
4     0.330625     0.672039    0.109381     0.075682     0.916931

In [ ]:
df = pd.read_csv("data_reading_without_header.csv", header = None)
df.head()

          0         1         2         3         4
0  0.188888  0.161053  0.150413  0.824770  0.111833
1  0.827719  0.161363  0.400331  0.398196  0.770696
2  0.844660  0.100998  0.995176  0.615525  0.878389
3  0.913895  0.036169  0.237840  0.187628  0.534308
4  0.322443  0.955010  0.340765  0.649311  0.354540

In [ ]:
df.columns = ['X1', 'X2', 'X3', 'X4', 'X5']
df.head() # 컬럼명 바꾸기

         X1        X2        X3        X4        X5
0  0.188888  0.161053  0.150413  0.824770  0.111833
1  0.827719  0.161363  0.400331  0.398196  0.770696
2  0.844660  0.100998  0.995176  0.615525  0.878389
3  0.913895  0.036169  0.237840  0.187628  0.534308
4  0.322443  0.955010  0.340765  0.649311  0.354540

#### 큰 규모의 데이터 불러오기

In [ ]:
df = pd.read_csv("large_data_with_ID.csv",
                 usecols = [0, 1, 5, 10], # ['ID', 'X1', 'X5', 'X10']으로 불러와도 무방
                index_col = 'ID', # usecols을 사용하는 경우, index_col을 반드시 포함시켜야 함
                nrows = 1000)

df.head()

     X1  X5  X10
ID
ID1  21   3   60
ID2   0  69   98
ID3  75  69   49
ID4  66  86   22
ID5  33  57   59

In [ ]:
df.shape

(1000, 3)

#### to_csv를 이용한 데이터 저장하기

In [ ]:
df = pd.DataFrame({"A":[1,2,3],
                  "B":[4,5,6]},
                  index = ['a', 'b', 'c'])

df

   A  B
a  1  4
b  2  5
c  3  6

In [ ]:
df.to_csv("to_csv를 이용한 데이터 저장_인덱스미포함.csv", sep = ",", index = False)

In [ ]:
df.to_csv("to_csv를 이용한 데이터 저장_인덱스포함.csv", sep = ",", index = True)